## Settings file was created by plugin Server Devcommands v1.109
## Plugin GUID: server_devcommands

[1. General]

Invisible to other players with ghost mode = false

Disables spawns with ghost mode = false

Ignores sleep check with ghost mode = false

Server chat = false

Server chat name = Server

No creature drops = false

No clip view = false

Automatic debug mode = false

Kill destroys spawners = true

Automatic fly mode = false

Automatic environment = 

Automatic time of day = 

Automatic no cost mode = false

Automatic god mode = false

Automatic ghost mode = false

Automatic item pick up = true

Automatic devcommands = true

Debug mode fast teleport = true

Disable no map = false

No stamina usage with god mode = true

No eitr usage with god mode = true

No item usage with god mode = false

No weight limit with god mode = false

Always dodge with god mode = false

Always parry with god mode (when not blocking) = false

No staggering with god mode = true

Hide shout pings = false

Limit recipes to station with nocost mode = true

Respect station level with nocost mode = false

No edge of world pull with god mode = true

Disable start shout = false

Access private chests = true

Access warded areas = true

No clip with fly mode = false

Free fly uses camera invert = true

No clip clears forced environments = true

No knockback with god mode = true

No Mistlands mist with god mode = false

Show map coordinates = true

Show minimap coordinates = false

Show private players = false

Disable random events = false

Disable unlock messages = false

Disable debug mode keys = false

Disabled global keys = 

Max undo steps = 50

[2. Console]

Disable messages = false

Map teleport bind key = Mouse2 + LeftControl

Auto exec boot = 

Auto exec dev on = 

Auto exec dev off = 

Auto exec = 

Command descriptions = true

Alias system = true

Improved autocomplete = true

Multiple commands per line = true

Improved chat = true

Substitution = $$

Wrapping = \"

Key for fly up = Space

Key for fly down = LeftControl

Chat output = false

Mouse wheel bind key = 

Command aliases = 

Root users = 

Disabled commands = dev_config disable_command

[3. Formatting]

Player list format = {player_id}/{character_name}/{character_id} ({pos_x:F0}, {pos_z:F0}, {pos_y:F0})

Command log format = {player_id}/{character_name} ({pos_x:F0}, {pos_z:F0}, {pos_y:F0}): {command}

Find format = {pos_x:F0}, {pos_z:F0}, {pos_y:F0}, distance {distance:F0} ({name})

Minimap format = x: {pos_x:F0}, z: {pos_z:F0}, y: {pos_y:F0}

